
/* 
html,
body{
  color: #ffff;
  background-color: #8FD8D2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 40px;
} */

.aplicacion-tareas{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.logo-app{
  width: 220px;
  height: 150px;
  border-radius: 90px;
  border-style: groove;
  border-width: 20px;
}

/*Lista de tareas  */

h2{
 color: black; 
 text-align: center;
 margin: 20px 0;

}

.palabra-primera{
  color: #DF744A;
}

.palabra-segunda{
  color:darkslategray;
}

.tareas-lista-principal{
  width: 900px;
  min-height: 500px;
  background-color: #FEDCE2;
  padding: 25px;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid darkcyan

}

/* Estilos de componente Tarea*/

.tarea-contenedor{
  width: 100%;
  min-height: 65px;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid black;
  cursor: pointer;
  color: black;
}

/*.tarea-contenedor:nth-child(3n + 1){
  background-color: darkcyan;

}

.tarea-contenedor:nth-child(3n + 2){
  background-color: rgb(7, 168, 168);

}
.tarea-contenedor:nth-child(3n + 3){
  background-color: rgb(10, 214, 214);

}*/

.tarea-texto{
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.tarea-icono{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.tarea-icono-dos{
  width: 25px;
  height: 25px;
  margin: 5px;
}

/*  Estilo Tarea completada*/

.tarea-contenedor.completada{
  background-color: darkslategray;
  text-decoration: line-through;
  

}
.tarea-contenedor.procesada{
  background-color: #DF744A;
  
  

}

/* Tarea formulario estilos*/

.tarea-formulario{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tarea-input{
  width: 80%;
  font-size: 18px;
  background-color: blanchedalmond;
  border-radius: 4px 0 0 4px;
  border: 2px solid darkcyan ;
  outline: none;
  height: 53px;
}

/*Boton Agregar tarea*/

.tarea-boton{
  width: 20%;
  padding: 16px;
  font-size:18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
  background-color: darkcyan;
  color:bisque;
  text-transform: capitalize;

}
.tarea-boton2{
  width: 20%;
  padding: 16px;
  font-size:18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
  background-color: darkcyan;
  color:bisque;
  text-transform: capitalize;

}

.tarea-lista-contenedor{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

/* Barra de navegación*/

/* .tarea-boton-nav{
  width: 20%;
  padding: 16px;
  font-size:18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background-color: darkcyan;
  border-color: bisque;
  border-style: solid;
  text-transform: capitalize;
  margin: 10px 20px 10px 200px;
  
} */

.link{
  text-decoration: none;
  font-family: Roboto, sans-serif;
  padding: 16px;
  font-size:28px;
  color:bisque;
}

/* Home estilos*/

.home{
  font-family: Roboto, sans-serif;
  color: black;
  text-align: center;
  margin: 10%;
   
}


.tarea-boton-home{
  width: 20%;
  padding: 16px;
  font-size:18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
  background-color: darkcyan;
  color:bisque;
  text-transform: capitalize;
  margin: 28px;
}

/* Profile estilos*/

.profile{
  color: black;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 10%;
}

.heidi-profile{
  border-radius: 30px;
  height: 200px;
  width: 192px;
}

